---
import "../styles/global.css";
import LayoutBase from "../layouts/LayoutBase.astro";
import Awards from "../components/Awards.astro";
import AboutUs from "../components/AboutUs.astro";
---

<LayoutBase>
	<Awards/>
	<AboutUs/>
	<h1>main</h1>
</LayoutBase>
