---
import { string } from "astro:schema"
import Logo from "../assets/icons/logo.svg"
import Menu from "../assets/icons/menu.svg"
import Close from "../assets/icons/exit.svg"
import HeroImage from "../assets/images/heroImage.svg"

interface NavLinks {
  name: string;
  href: string;
};

const navlinks: NavLinks[] = [
  {name: "About", href: "#aboutUs"},
  {name: "Services", href: "#ourServices"},
  {name: "Our Work", href:"#recentWorks"}
];
---

<header>
  <div class="flex flex-col items-center gap-20">
    <div class=" w-11/12 max-w-md  flex justify-between items-center py-7">
      <Logo class="h-full w-24"/>
      <button id="open-menu" aria-controls="menu-modal" aria-expanded="false">
        <Menu class=" cursor-pointer text-neutral-black-900 hover:scale-125 transition-transform duration-200 "/>
      </button>
      <nav id="menu-modal" class=" fixed bg-neutral-black-700 inset-0 hidden h-screen">
        <Close id="close-menu" class=" ms-auto cursor-pointer mt-5 mr-5 hover:scale-125 transition-transform duration-200 "/>
        <ul class="flex flex-col gap-8 items-center mt-44">
          {
            navlinks.map((link: NavLinks) => (
              <li class="hover:scale-125 transition-transform duration-200 ">
                <a class="text-2xl text-white" href={link.href}>{link.name}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
    <div class="w-11/12 max-w-md">
      <h1 class=" font-secondary font-medium text-5xl text-center leading-[60px]">Make your home an ode to joy</h1>
      <p class="text-lg text-center text-neutral-black-700 font-light mt-6 leading-8 px-2">
        We turn your empty house to a lovely home, making the compact spaces  with sapce saving furnitures. Making the unique tastes of yours into reality! 
      </p>
    </div>
  </div>
  <div class="mt-4 grid content-center">
    <HeroImage class=" w-full"/>
  </div>
  
</header>

<script>
  const btnClose = document.getElementById("close-menu");
  const menuModal = document.getElementById("menu-modal");
  const btnOpen = document.getElementById("open-menu");
  const links = document.querySelectorAll("a");

  btnClose?.addEventListener('click', ()=> {
    menuModal?.classList.add("hidden")
    document.body.classList.remove("overflow-hidden")
  })

  btnOpen?.addEventListener('click', ()=> {
    menuModal?.classList.remove("hidden")
    document.body.classList.add("overflow-hidden")
  })

  links.forEach(link => {
    link.addEventListener('click', ()=> {
      menuModal?.classList.add("hidden")
    })
  })
</script>