---
import Section from "../components/Section.astro";
import { sectionServices } from "../data/ourServices";
import type { Services } from "../data/ourServices";

const { id } = Astro.props;
const description = "Non diam pretium tristique augue placerat dolor. Accumsan nibh nunc, molestie volutpat ipsum, ultricies."
---

<Section id={id} sectionTitle="OUR SERVICES" class="my-12 mt-28" sectionSubtitle="We provide the best solutions for your dream home" classMB="mb-10">
  <div class="xl:flex xl:gap-8">
    {
      sectionServices.map((service: Services) => (
        <article class="border-2 border-neutral-grey-300 mb-8 p-6 first:mt-10 xl:mb-0 xl:first:mt-0">
          <img class=" w-12 h-12" src={service.icon} loading="lazy"/>
          <h4 class=" text-3xl leading-10 font-secondary my-4 font-normal md:text-4xl md:mt-12">{service.title}</h4>
          <p class="text-lg leading-8 font-light">{description}</p>
        </article>
      ))
    }
  </div>
</Section>